header {
    height: 10vh;
}
.loader {
    opacity:1;
    background-color:white;
    position: fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

#sel1 {
    position: relative;
    right: 10px;
    top: 20%;
    width: 100%;
    height: 50% ;
}



#logo {
    position: relative;
    top: 5%;
    left: 2px;
    display: inline-block;
    height: 70%;

}

i.fas {
    display: inline-block;
    height: 50px
}

h1 {
    display: inline-block;
    
    position: relative;
    top: 20%;
    left: 17px;
    font-size: 3.5em;
}

#map {
    height: 60vh;
    width: 100vw;
    
}

form > div {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 50vw;

}

.btn {
    display: block;
    width: 100vw;
    height: 33%;
    border-radius: 0px;
    border: none;
}

#infoSection {
    height: 30vh;
}

.form-group {
    margin: 0px;
    position: relative;
    width: 50vw;
    height: 100%;
    float: right;
}

@media only screen and (orientation: landscape){
    header {
        height: 10vh;
    }

    h1 {
        font-size: 2.5em;
    }

   
    .btn {
        width: 33vw !important;
        display: inline-block;
        margin: 0px;
        height: 100%;
        font-size: 1.5em;
        box-sizing: border-box;
    }

   
}

