header {
    height: 10vh;
}
.loader {
    opacity:1;
    background-color:white;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}


#logo {
    position: absolute;
    top: 15px;
    left: 10px;
    display: inline-block;
    height: 70px;

}

i.fas {
    display: inline-block;
    height: 50px
}

h1 {
    display: inline-block;
    
    position: absolute;
    top: 10px;
    left: 100px;
}

#map {
    height: 60vh;
    width: 100vw;
    
}

form > div {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 50vw;

}

.btn {
    display: block;
    width: 100vw;
    height: 33%;
    border: 1px black solid;
}

#infoSection {
    height: 30vh;
}

.form-group {
    width: 50vw;
    float: right;
}

@media only screen and (orientation: landscape){
    header {
        height: 10vh;
    }

    h1 {
        font-size: 3em;
    }

   
}

