header {
    height: 10vh;
    z-index: 1000;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}

header.container-fluid{
    padding: 0;
}

td{
    text-align: right;
}

th{
    text-align: left;
}

.leaflet-control-container { 
    position: fixed; 
    top: 15vh;
    z-index: 1000;

} 

#countryName{
    padding-top: 0.5rem;
}
#country-flag{
  
    width: 100px !important;
    padding-left: 1rem;
}

html {
    background-color: rgba(0, 0, 0, 0.4);
}

#map-attr{
    height: 1.5rem;
    z-index: 999;
    position: fixed;
    left: 0;
    padding: 0.25rem 0 0 10px;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    width: 100vw;
    color: white;

}

#map-attr a {
    color: #ff7800 !important;
}

#sel1 {
    position: absolute;
    right: 0px;
    top: 0.5rem;
    font-size: 14px;
    width: 100%;
    
}


div.form-group {
    position: absolute;
    top: 0.5rem;
    right: 1%;
    height: 7vh;
    width: 40%;
    margin: 0px;
}

.m-btn{
 float: right;
}

#logo {
    position: fixed;
    top: 5px;
    left: 10px;
    display: inline-block;
    height: 50px;
    

}

i.fas {
    display: inline-block;
    height: 50px
}

h1 {
    display: inline-block;
    color: white;
    position: absolute;
    top: 2vh;
    left: 20vw;
    font-size: 7vw;
}

#map {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    z-index: -1;
    
}

.leaflet-popup-content{
    text-align: center;
}

.modal-body {
    max-height: 70vh;
    overflow-y: auto;
}


form > div {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 50vw;

}

#weatherImg{
    display: block;
    margin: 0 auto;
   
}




@media only screen and (orientation: landscape){
    header {
        height: 10vh;
    }

    h1 {
        font-size: 2.5em;
        left: 8%;
        top: 10px;
    }

    .form-select{
        width: 50% !important;
    }
   
    #sel1 {
        position: absolute;
        right: 3px;
        top: 10px;
        max-width: 300px ;
        height: 55% ;
        font-size: 1vw;
    }
    #logo {
        position: absolute;
        top: 5px;
        left: 10px;
        display: inline-block;
        height: 80%;
    
    }
    

   
}

